#astronaut {
    animation: float 2s infinite;
}
@keyframes float {
    0% {
    transform: translateY(10px);
    }
    50% {
    transform: translateY(40px);
    }
    100% {
    transform: translateY(10px);
    }
    }